.left{
    padding-left: 30px;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    position: fixed;
    left: 0;
    width: 20%;
    height: 100vh;
    background-color: #222;
}

.right{
    padding-left: 30px;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    position: fixed;
    left: 20%;
    width: 80%;
    height: 100vh;
    background-color: #333;
}

input[type=text] {
    font-size: 16px;
    color: white;
    background-color: #222;
    width: 70%;
    padding: 15px 15px;
    box-sizing: border-box;
    padding-left: 65px;
    left: 25%;
    bottom: 33px;
    z-index: 2;
    position: fixed;
    border-radius: 25px;
    border: 2px solid gray;
  }

input:focus{
    outline-width: 0;
}

  .button2{
    color: gray;
    left: 25%;
    z-index: 3;
    position: fixed;
    background-color: #222;
    bottom: 33.5px;
    border-radius: 25px;
    border: 2px solid gray;
    padding: 16.5px 15px;
    cursor: pointer;
}

.button2:hover{
    background-color: gray;
    color: white;
    transition: 0.2s linear;
}

textarea {
    font-size: 20px;
    color: white;
    background-color: #222;
    width: 560px;
    height: 200px;
    padding: 20px 10px;
    box-sizing: border-box;
    padding-left: 25px;
    left: 36.9vw;
    bottom: 525px;
    z-index: 2;
    position: fixed;
    border-radius: 25px;
    border: 2px solid gray;
    font-family: sans-serif;
    resize: none;
}

.button{
    color: gray;
    left: 33px;
    z-index: 2;
    position: fixed;
    background-color: #333;
    bottom: 33.5px;
    border-radius: 25px;
    border: 2px solid gray;
    padding: 15px 11px;
    cursor: pointer;
}

.button:hover{
    background-color: gray;
    color: white;
    transition: 0.2s linear;
}

.popup{
    width: 600px;
    height: 400px;
    background-color: #222;
    position: absolute;
    z-index: 3;
    bottom: 46vh;
    left: 35vw;
    padding-left: 35px;
    padding-top: 10px;
    visibility: hidden;
}

.popupp{
    width: 600px;
    height: 400px;
    background-color: #222;
    position: absolute;
    z-index: 3;
    bottom: 46vh;
    left: 35vw;
    padding-left: 35px;
    padding-top: 10px;
    visibility: hidden; 
}

#popupp{
    border-radius: 25px;
}

.openpopup{
    visibility: visible;
}

h1{
    color: white;
    font-family: sans-serif;
}

.button1{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    left: 37vw;
    width: 260px;
    z-index: 2;
    position: fixed;
    background-color: #222;
    bottom: 49.5vh;
    border-radius: 25px;
    border: 2px solid rgb(160, 77, 77);
    padding: 15px 11px;
    cursor: pointer;
}

.button1:hover{
    color: white;
    background-color: rgb(160, 77, 77);
    transition: 0.1s linear;
}

#confirm{
    font-size: 20px;
    color: rgba(255, 255, 255, 0.7);
    left: 52.5vw;
    width: 260px;
    z-index: 2;
    position: fixed;
    background-color: #222;
    bottom: 49.5vh;
    border-radius: 25px;
    border: 2px solid green;
    padding: 15px 11px;
    cursor: pointer;
}

.color{
    position: fixed;
    padding: 32.5px 26.5px;
    cursor: pointer;
    z-index: 2;
}

#color1{
    color: #b3595e;
    background-color:#b3595e;
    left: 37vw;
    bottom: 72.25vh;
    border: 2px solid #b3595e;
    border-radius: 25px;
}

#color2{
    color:#83b2c9;
    background-color:#83b2c9;
    left: 37vw;
    bottom: 59.5vh;
    border: 2px solid #83b2c9;
    border-radius: 25px;
}

#color3{
    color:#b3725f;
    background-color:#b3725f;
    left: 43.125vw;
    bottom: 72.25vh;
    border: 2px solid #b3725f;
    border-radius: 25px;
}

#color4{
    color:#608aa0;
    background-color:#608aa0;
    left: 43.125vw;
    bottom: 59.5vh;
    border: 2px solid #608aa0;
    border-radius: 25px;
}

#color5{
    color:#b58961;
    background-color:#b58961;
    left: 49.25vw;
    bottom: 72.25vh;
    border: 2px solid #b58961;
    border-radius: 25px;
}

#color6{
    color:#5c589b;
    background-color:#5c589b;
    left: 49.25vw;
    bottom: 59.5vh;
    border: 2px solid #5c589b;
    border-radius: 25px;
}

#color7{
    color:#609358;
    background-color:#609358;
    left: 55.375vw;
    bottom: 72.25vh;
    border: 2px solid #609358;
    border-radius: 25px;
}

#color8{
    color:#8a5b9f;
    background-color:#8a5b9f;
    left: 55.375vw;
    bottom: 59.5vh;
    border: 2px solid #8a5b9f;
    border-radius: 25px;
}

#color9{
    color:#69afa5;
    background-color:#69afa5;
    left: 61.5vw;
    bottom: 72.25vh;
    border: 2px solid #69afa5;
    border-radius: 25px;
}

#color10{
    color:#9d526c;
    background-color:#9d526c;
    left: 61.5vw;
    bottom: 59.5vh;
    border: 2px solid #9d526c;
    border-radius: 25px;
}

#color1:hover{
    color:#b3595e;
    background-color: #222;
    transition: 0.2s linear;
}

#color2:hover{
    color:#83b2c9;
    background-color: #222;
    transition: 0.2s linear;
}

#color3:hover{
    color:#b3725f;
    background-color: #222;
    transition: 0.2s linear;
}

#color4:hover{
    color:#608aa0;
    background-color: #222;
    transition: 0.2s linear;
}

#color5:hover{
    color:#b58961;
    background-color: #222;
    transition: 0.2s linear;
}

#confirm:hover{
    color: white;
    background-color: green;
    transition: 0.1s linear;
}

#color6:hover{
    color:#5c589b;
    background-color: #222;
    transition: 0.2s linear;
}

#color7:hover{
    color:#609358;
    background-color: #222;
    transition: 0.2s linear;
}

#color8:hover{
    color:#8a5b9f;
    background-color: #222;
    transition: 0.2s linear;
}

#color9:hover{
    color:#69afa5;
    background-color: #222;
    transition: 0.2s linear;
}

#color10:hover{
    color:#9d526c;
    background-color: #222;
    transition: 0.2s linear;
}

#popup{
    border-radius: 25px;
}
