<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesheet.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="https://kit.fontawesome.com/012c424a63.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>

    <title>{% block title %} UOFT HACKS X {% endblock %}</title>

  <style>
    .box{
      width: auto;
      margin: 50px auto;
      background: #00bfb6;
      padding: 20px;
      text-align: left;
      font-weight: 900;
      color: #fff;
      font-family: arial;
      position:relative;
    }

    #box{
      border-radius: 25px;
    }
  </style>
  </head>
  <body>
    {% block content %} {% endblock %}
  </body>
</html>