<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ url_for('static', filename= 'stylesheet.css') }}">
    <script src="{{url_for('static', filename='script.js')}}"></script>
    <script src="https://kit.fontawesome.com/012c424a63.js" crossorigin="anonymous"></script>
    <title>{% block title %} UOFT HACKS X {% endblock %}</title>
  </head>
  <body>
    <div class="container">
        {% block content %} {% endblock %}
    </div>
  </body>
</html>