<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <script src="../static/script.js"></script>
    <script src="https://kit.fontawesome.com/012c424a63.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
<script>
var colors = ['#222222','#b3595e','#83b2c9','#b3725f','#608aa0','#b58961','#5c589b','#609358','#8a5b9f','#69afa5','#9d526c'];
var socket = io.connect('http://' + document.domain + ':' + location.port);

socket.on( 'connect', function() {
  socket.emit( 'my event', {
    data: 'User Connected'
  } )
  var form = $( '#message' ).on( 'submit', function( e ) {
    e.preventDefault()
    let user_name = $( 'input.username' ).val()
    let user_input = $( 'input.message' ).val()
    socket.emit( 'my event', {
      user_name : user_name,
      message : user_input.trim()
    } )
    $( 'input.message' ).val( '' ).focus()
  } )
} )

socket.on( 'my response', function( msg ) {
  if( typeof msg.user_name !== 'undefined' ) {
    $( 'h3' ).remove()
    if ((msg.message=='Toxic') && (msg.user_name == document.getElementById("username").value)) {
      alert("Please be more mindful of your language :)");
    } else if(msg.message=='Toxic') {
    } else {
      var col = colors[msg.user_name];
      if(col == undefined){
        col = "#222222"
      }
      var len = msg.message.length+"ch";
      if (msg.user_name == document.getElementById("username").value){
        $( 'div.right1' ).append( "<div style='width:"+len+";border:2px solid;border-color:"+col+";max-width: 600px;font-size:18px;background-color:#222;color:#fff;padding:20px;margin-top:25px;bottom:115px;right:95px;position:relative;' id='box'>"+msg.message+'</div>' )
        $( 'div.right' ).append( "<div style='width:"+len+";border:2px solid;border-color:"+col+";max-width: 600px;font-size:18px;background-color:#222;color:#fff;padding:20px;margin-top:25px;bottom:115px;left:95px;position:relative;visibility:hidden;' id='box'>"+msg.message+'</div>' )
      } else {
        $( 'div.right' ).append( "<div style='width:"+len+";border:2px solid;border-color:"+col+";max-width: 600px;font-size:18px;background-color:#222;color:#fff;padding:20px;margin-top:25px;bottom:115px;left:95px;position:relative;' id='box'>"+msg.message+'</div>' )
        $( 'div.right1' ).append( "<div style='width:"+len+";border:2px solid;border-color:"+col+";max-width: 600px;font-size:18px;background-color:#222;color:#fff;padding:20px;margin-top:25px;bottom:115px;right:95px;position:relative;visibility:hidden;' id='box'>"+msg.message+'</div>' )
      }
    }
  }
})

function toButton(value) {
  let newButton = document.createElement("button")
  const left = document.getElementById("left")

  newButton.innerHTML = value
  newButton.className = value + "-button"

  left.appendChild(newButton)
}
</script>
<div class="left">
    <h1>Large Mass Debater</h1>
    <ul>
      {% for topic in topics %}
        <li style="list-style-type: none;"><button>{{ topic["topic"] }}</button></li>
      {% endfor %}
    </ul>
</div>

<div class="right">
</div>

<div class="right1">
</div>

<div class="centering">
  <h3>
    No messages yet... Choose a topic from the sidebar or create a new topic!
  </h3>
</div>


<form action="" method="POST" id="message">
    <input type="text" class="message" placeholder="Enter a message">
    <input type="text" class="username" id="username" hidden>
    <input type="submit" hidden>
</form>

<button class="button" onclick="openPopup()"><i class="fa-solid fa-plus fa-2xl"></i></button>
<button class="button2" onclick="openPopupp()"><i class="fa-regular fa-user fa-xl"></i></i></button>

<div class="popupp" id="popupp">
    <h1>Choose a Color</h1>
    <button class="button1" onclick="openPopupp();noChange()">Cancel</button>
    <button class="button1" id="confirm" onclick="openPopupp()">Confirm</button>
    <button class="color" id="color1" onclick="btn(1)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color2" onclick="btn(2)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color3" onclick="btn(3)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color4" onclick="btn(4)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color5" onclick="btn(5)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color6" onclick="btn(6)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color7" onclick="btn(7)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color8" onclick="btn(8)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color9" onclick="btn(9)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color10" onclick="btn(10)"><i class="fa-solid fa-check fa-2xl"></i></button>
</div>

<div class="popup" id="popup">
    <h1>Start a New Discussion</h1>
    <form action="/newTopic" method="POST">
      <input name="topic" id="prompt" placeholder="Enter topic here...">
      <input type="submit" name="topic" value="test">
    </form>
    <button class="button1" onclick="openPopup()">Cancel</button>
</div>

</body>
</html>