<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="shortcut icon" href="#" />
    <script src="../static/script.js"></script>
    <link href="https://fonts.cdnfonts.com/css/monaco" rel="stylesheet">
    <script src="https://kit.fontawesome.com/012c424a63.js" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.3/jquery.min.js" integrity="sha512-STof4xm1wgkfm7heWqFJVn58Hm3EtS31XFaagaa8VMReCXAkQnJZ+jEy8PCC/iT18dFy95WcExNHFTqLyp72eQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
</head>
<body>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
  socket.on('connectToRoom',function(data){
     document.body.innerHTML = '';
     document.write(data);
  });
</script>
<script>
var colors = ['#222222','#b3595e','#83b2c9','#b3725f','#608aa0','#b58961','#5c589b','#609358','#8a5b9f','#69afa5','#9d526c'];
var socket = io.connect('http://' + document.domain + ':' + location.port);

socket.on( 'connect', function() {
  $('ul:first').empty()
  socket.emit( 'my event', {
    data: socket.id
  } )
  var form = $( '#message' ).on( 'submit', function( e ) {
    e.preventDefault()
    let user_thrid = $('input.threadid').val()
    let user_name = $( 'input.username' ).val()
    let user_input = $( 'input.message' ).val()
    socket.emit( 'my event', {
      thr_id: user_thrid,
      user_name : user_name,
      message : user_input.trim()
    } )
    $( 'input.message' ).val( '' ).focus()
  } )

  var form1 = $('#newt').on('submit', function(e){
    e.preventDefault()
    let topic_name = $('#prompt').val()
    socket.emit('new title', {
      topic: topic_name.replaceAll(' ','_')
    })
    $('#prompt').val('').focus()
  })
} )

socket.on('made topic', function(tname){
  sid = tname.sid
  if(typeof tname.topic !== 'undefined'){
    var topicid = tname.topic
    if (tname.topic.length > 24){
      ppt = tname.topic.substring(0,24)+"..."
    } else {
      ppt = tname.topic
    }
    $('ul:first').append("<li onclick='loadmsg(id,sid)' id="+topicid+" style='margin:0;z-index: 2;color: lightgrey;background-color: #444;display:block;padding: 10px;cursor: pointer;'>"+ppt.replaceAll('_',' ')+"</li>")
    $('#threadid').val(topicid)
  }
})

function loadmsg(id,sid){
  const myNode = document.getElementById("right");
  while (myNode.firstChild) {
    myNode.removeChild(myNode.lastChild);
  }
  const myNode1 = document.getElementById("right1");
  while (myNode1.firstChild) {
    myNode1.removeChild(myNode1.lastChild);
  }
  socket.emit('get msg',{
    data: sid,
    t_id: id
  })
}

socket.on( 'my response', function( msg ) {
  if( typeof msg.user_name !== 'undefined' ) {
    $( 'h3' ).remove()
    if ((msg.message=='Toxic') && (msg.user_name == document.getElementById("username").value)) {
      alert("Please be more mindful of your language :)");
    } else if(msg.message=='Toxic') {
    } else {
      var col = colors[msg.user_name];
      if(col == undefined){
        col = "#222222"
      }
      var len = msg.message.length+"ch";
      if (msg.user_name == document.getElementById("username").value){
        $( 'div.right1' ).append( "<div style='width:"+len+";border:2px solid;border-color:"+col+";max-width: 600px;font-size:18px;background-color:#222;color:#fff;padding:20px;margin-top:25px;bottom:115px;right:95px;position:relative;' id='box'>"+msg.message+'</div>' )
        $( 'div.right' ).append( "<div style='width:"+len+";border:2px solid;border-color:"+col+";max-width: 600px;font-size:18px;background-color:#222;color:#fff;padding:20px;margin-top:25px;bottom:115px;left:95px;position:relative;visibility:hidden;' id='box'>"+msg.message+'</div>' )
      } else {
        $( 'div.right' ).append( "<div style='width:"+len+";border:2px solid;border-color:"+col+";max-width: 600px;font-size:18px;background-color:#222;color:#fff;padding:20px;margin-top:25px;bottom:115px;left:95px;position:relative;' id='box'>"+msg.message+'</div>' )
        $( 'div.right1' ).append( "<div style='width:"+len+";border:2px solid;border-color:"+col+";max-width: 600px;font-size:18px;background-color:#222;color:#fff;padding:20px;margin-top:25px;bottom:115px;right:95px;position:relative;visibility:hidden;' id='box'>"+msg.message+'</div>' )
      }
    }
  }
})
</script>
<div class="left">
    <h1 id="logo">Large Mass Debater</h1>
    <ul>
      <!-- {% for topic in topics %}
        <li style="list-style-type: none;"><button>{{ topic["topic"] }}</button></li>
      {% endfor %} -->
      <!-- <li class="side">value 1</li>
      <li class="side">value 2</li> -->
    </ul>
</div>

<div class="right" id="right">
</div>

<div class="right1" id="right1">
</div>

<div class="centering">
  <h3>
    No messages yet... Choose a topic from the sidebar or create a new topic!
  </h3>
</div>


<form action="" method="POST" id="message">
    <input type="text" class="message" placeholder="Enter a message">
    <input type="text" class="username" id="username" hidden>
    <input type="text" class="threadid" id="threadid" hidden>
    <input type="submit" hidden>
</form>

<button class="button" onclick="openPopup()"><i class="fa-solid fa-plus fa-2xl"></i></button>
<button class="button2" onclick="openPopupp()"><i class="fa-regular fa-user fa-xl"></i></i></button>

<div class="popupp" id="popupp">
    <h1>Choose a Color</h1>
    <button class="button1" onclick="openPopupp();noChange()">Cancel</button>
    <button class="button1" id="confirm" onclick="openPopupp()">Confirm</button>
    <button class="color" id="color1" onclick="btn(1)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color2" onclick="btn(2)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color3" onclick="btn(3)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color4" onclick="btn(4)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color5" onclick="btn(5)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color6" onclick="btn(6)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color7" onclick="btn(7)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color8" onclick="btn(8)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color9" onclick="btn(9)"><i class="fa-solid fa-check fa-2xl"></i></button>
    <button class="color" id="color10" onclick="btn(10)"><i class="fa-solid fa-check fa-2xl"></i></button>
</div>

<div class="popup" id="popup">
    <h1>Start a New Discussion</h1>
    <form action="" method="POST" id="newt">
      <textarea name="topic" form="newt "id="prompt" placeholder="Enter topic here..." required></textarea>
      <button class="button1" id="confirm" onclick="openPopup()">Submit</button>
    </form>
    <button class="button1" onclick="openPopup()">Cancel</button>
</div>

</body>
</html>